{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}

<h2 style="text-align: center; margin-top: 10px; margin-bottom: 10px;">List of Reviews</h2>

{% endblock %}

{% block content %}
{% if latest_review_list %}
<div>
    {% for review in latest_review_list %}
    <div style="border: 1px solid #373434; border-radius: 10px; padding: 10px; margin-top: 10px;">
        <h4><a href="{% url 'reviews:review_detail' review.id %}" style="font-size: 25px;">
        {{ review.book.name }}
        </a></h4>
        <h5 style="font-size: 13px; margin-top: -5px;">{{ review.book.author }} </h5>
        <h6>Rated <b>{{ review.rating }} of 5 </b> by <a href="{% url 'reviews:user_review_list' review.user_name %}" >{{ review.user_name }}</a></h6>
        <p><i>{{ review.comment }}</i></p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}

{% endblock %}